In [1]:
import xlrd
import numpy as np
import pandas
from pandas import DataFrame
import matplotlib.pyplot as plt

In [8]:
# import data from excel 
if __name__ == '__main__' :
    book = xlrd.open_workbook ('C:/research/python/data/RNA_Bric_seq_final.xlsx')
    sheet = book.sheet_by_name('HeLa')
    data = []
    data = [[sheet.cell_value(r, col)
                for col in range(sheet.ncols)]
                for r in range(sheet.nrows)]

# numbers are registered as numbers, while leaving the strings alone
for i in range (len (data)):
    for j in range(len(data[0])):
        try:
            data[i][j] = float (data[i][j])
        except:
            pass
        
# Wrap the data in a pandas DataFrame
df = DataFrame(data[1:], columns = data[0])

In [9]:
# Wrap the data in a pandas DataFrame
df = DataFrame(data[1:], columns = data[0])

# extract the significant increased genes by siPUM1
df_q = df[df['q_value'] < 0.05]
df_q = df[df['q_value'] < 0.05]
df_qup = df_q[df_q['log2_change_rpkm'] > 0]
df_p = df_qup[df_qup['P_Welch'] < 0.05]
df_pup = df_p[df_p['log2_change_half_life'] > 0]
df_up = df_pup[df_pup['rpkm_siCTRL'] > 1.0]

# Define the data set of which genes contain PUM motifs
df_up_motif = df_up[df_up['number'] > 0]

# Define the basic transcripts set : RPKM is larger than 0.1 & t_half > 0
df_rpkm = df[df['rpkm_siCTRL'] > 0.1]
df_base = df_rpkm[df_rpkm['half_life_siCTRL'] > 0]

In [10]:
# import data from excel 
if __name__ == '__main__' :
    book = xlrd.open_workbook ('C:/research/python/data/random_conservation.xlsx')
    sheet = book.sheet_by_name('Sheet1')
    data2 = []
    data2 = [[sheet.cell_value(r, col)
                for col in range(sheet.ncols)]
                for r in range(sheet.nrows)]

# numbers are registered as numbers, while leaving the strings alone
for i in range (len (data2)):
    for j in range(len(data2[0])):
        try:
            data2[i][j] = float (data2[i][j])
        except:
            pass
        
# Wrap the data in a pandas DataFrame
df_ran = DataFrame(data2[1:], columns = data2[0])

In [19]:
df_ran1 = df_ran.dropna(subset=['Conservation_score'])

In [20]:
df1 = df.dropna(subset=['Conservation_score'])

In [27]:
# convert dataframe to numpy array
df_con = df1['Conservation_score']
df_ran_con = df_ran1['Conservation_score']

con_PUM = df_con.as_matrix()
con_Ran = df_ran_con.as_matrix()

In [33]:

Conserve_PUM = np.array([])
Conserve_ran = np.array([])

N = np.count_nonzero(con_PUM)
M = np.count_nonzero(con_Ran)

for i in range(N):
    if type(con_PUM[i]) == float:                    # 3'UTR contain only 1 motif
        Conserve_PUM = np.append(Conserve_PUM, con_PUM[i])
    elif type(con_PUM[i]) != float:                 # 3'UTR contains multiple motifs
        conP1 = con_PUM[i].split("|")
        conP2 = [float(j) for j in conP1]
        for j in range(len(conP2)):
            Conserve_PUM = np.append(Conserve_PUM, conP2)
    else:
        pass

for i in range(M):
    conR1 = con_Ran[i].split("|")
    conR2 = [float(j) for j in conR1]
    for j in range(len(conR2)):
        Conserve_ran = np.append(Conserve_ran, conR2)

In [63]:
plt.hist(Conserve_PUM, bins = 200, alpha = 0.8, color = 'c', normed = True, label = 'PUM_motif')
plt.hist(Conserve_ran, bins = 200, alpha = 0.5, color = 'k', normed = True, label = 'Random sequence')

plt.legend()
plt.xlabel("Conservation_score (phyloP)")
plt.ylabel("Frequency")
plt.show()

In [43]:
df_up1 = df_up.dropna(subset=['Conservation_score'])
df_up_con = df_up1['Conservation_score']

con_PUM1 = df_up_con.as_matrix()

In [44]:
Conserve_PUM1 = np.array([])

N1 = np.count_nonzero(con_PUM1)

for i in range(N1):
    if type(con_PUM1[i]) == float:                    # 3'UTR contain only 1 motif
        Conserve_PUM1 = np.append(Conserve_PUM1, con_PUM1[i])
    elif type(con_PUM1[i]) != float:                 # 3'UTR contains multiple motifs
        conPum1 = con_PUM1[i].split("|")
        conPum2 = [float(j) for j in conPum1]
        for j in range(len(conPum2)):
            Conserve_PUM1 = np.append(Conserve_PUM1, conPum2)
    else:
        pass

In [46]:
plt.hist(Conserve_PUM, bins = 200, alpha = 0.5, color = 'g', normed = True, label = 'PUM_motif')
plt.hist(Conserve_PUM1, bins = 200, alpha = 0.5, color = 'r', normed = True, label = 'PUM1 target')

plt.legend()
plt.xlabel("Conservation score")
plt.ylabel("Frequency")
plt.show()

In [65]:
fig = plt.figure()
ax = fig.add_subplot(111)

ax.boxplot([Conserve_ran, Conserve_PUM, Conserve_PUM1], notch = True)

# customize the whiskers, caps, fliers and medians
plt.ylabel('Conservation_score (phyloP)')   
plt.xticks([1,2,3], ['Random sequence','PUM motif in all gene', 'PUM motif in PUM1 target'])

plt.show()

In [64]:
plt.figure();
plt.subplot(2,1,1)
plt.hist(Conserve_PUM, bins = 200, alpha = 0.5, color = 'c', normed = True, label = 'PUM_motif')
plt.legend(prop={'size':15})
plt.ylabel('Frequency')
plt.xlim(-2,6)

plt.subplot(2,1,2)
plt.hist(Conserve_ran, bins = 200, alpha = 0.5, color = 'k', normed = True, label = 'Random sequence')
plt.legend(prop={'size':15})
plt.xlabel('Conservation_score (phyloP)')
plt.ylabel('Frequency')
plt.xlim(-2,6)

plt.show()

In [72]:
df2 = df1.loc[:,['symbol', 'number', 'sequence', 'position', '3UTR_length', 'Conservation_score']]

In [75]:
df3 = df2.reset_index(drop=True)

In [76]:
df3.head(5)

,symbol,number,sequence,position,3UTR_length,Conservation_score
0,A1CF,4,TGTACATT|TGTAAATA|TGTATATA|TGTAAATT,1760|4226|4334|6695,7320,0.04600000000000001|0.773|0.12349999999999998|...
1,AADACL3,1,TGTACATA,2444,2763,0.00375
2,AADAT,1,TGTAAAAA,407,705,0.190875
3,AAED1,1,TGTATATA,438,507,0.459625
4,AAK1,8,TGTAAATT|TGTATAAA|TGTACAAA|TGTATAAA|TGTATAAA|T...,972|981|1593|2054|4873|4967|6895|14827,17874,2.6399999999999997|2.553125|1.105|1.9307500000...

In [103]:
Count = len(df3)

dic = {}

gene = df3.iloc[0,0]
num = df3.iloc[0,1]
seq = df3.iloc[0,2].split('|')
pos = df3.iloc[0,3].split('|')
length = df3.iloc[0,4]
con = df3.iloc[0,3].split('|')

for i in range (int(num)):
    gene_name = gene +'_'+ str(i)
    dic[gene_name] = [seq[i], int(pos[i]), int(length), int(con[i])]

In [152]:
Count = len(df3)

dic = {}

for j in range (int(Count)):
    
    gene = df3.iloc[j,0]
    num = df3.iloc[j,1]
    if num == 1:
        seq = df3.iloc[j,2]
        pos = df3.iloc[j,3]
        length = df3.iloc[j,4]
        con = df3.iloc[j,5]
        gene_name = gene
        dic[gene_name] = [seq, int(pos), int(length), float(con)]
    elif num >1:
        seq = df3.iloc[j,2].split('|')
        pos = df3.iloc[j,3].split('|')
        length = df3.iloc[j,4]
        con = df3.iloc[j,5].split('|')

        for i in range (int(num)):
            gene_name = str(gene) +'_'+ str(i)
            dic[gene_name] = [seq[i], int(pos[i]), int(length), float(con[i])]
    else:
        pass

In [153]:
df_sep = pandas.DataFrame.from_dict(dic, orient = 'index')
df_sep.columns = ['PUM motif', 'position', 'UTR length', 'phyloP']

df_sep['distance'] = df_sep['UTR length'] - df_sep['position']

df_sep.sort_index()

          PUM motif  position  UTR length    phyloP  distance
42434.0    TGTAAATT       469        2757  0.816625      2288
42615.0    TGTAAAAA      1785        2089 -0.185750       304
42620.0    TGTAAAAA       977        1238  2.995500       261
42622.0    TGTATAAA      1872        1938  2.347500        66
42623.0    TGTATAAA       354        1470 -0.187000      1116
42628.0    TGTAAAAA       848         901 -0.297750        53
42430.0_0  TGTATATA      1928        4450  1.293000      2522
42430.0_1  TGTATAAA      2056        4450  0.122375      2394
42430.0_2  TGTATATT      2115        4450  0.320750      2335
42430.0_3  TGTATATT      4002        4450  2.536500       448
42435.0_0  TGTAAATA       209        4354  2.247125      4145
42435.0_1  TGTATATT       282        4354  3.640250      4072
42435.0_2  TGTACATT       440        4354  0.154875      3914
42435.0_3  TGTACATT       596        4354  2.631625      3758
42435.0_4  TGTATATA      4071        4354  0.107625       283
42436.0_0  TGTATATA       142        1241  0.847875      1099
42436.0_1  TGTATAAA       616        1241  0.847500       625
42436.0_2  TGTAAATT       714        1241  1.211750       527
42621.0_0  TGTATAAA       619        2815  1.121125      2196
42621.0_1  TGTATATA       976        2815 -0.286875      1839
42627.0_0  TGTATATT       113        2368  0.196375      2255
42627.0_1  TGTATATT      2106        2368  0.037750       262
A1CF_0     TGTACATT      1760        7320  0.046000      5560
A1CF_1     TGTAAATA      4226        7320  0.773000      3094
A1CF_2     TGTATATA      4334        7320  0.123500      2986
A1CF_3     TGTAAATT      6695        7320  0.447250       625
AADACL3    TGTACATA      2444        2763  0.003750       319
AADAT      TGTAAAAA       407         705  0.190875       298
AAED1      TGTATATA       438         507  0.459625        69
AAK1_0     TGTAAATT       972       17874  2.640000     16902
...             ...       ...         ...       ...       ...
ZRANB2     TGTAAATA      1817        1888  2.950750        71
ZRANB3     TGTAAATA      1377        3373  0.303375      1996
ZSCAN12    TGTAAATT       320        1503  0.400500      1183
ZSCAN20    TGTATATA        35         919 -0.112500       884
ZSCAN23    TGTAAATA      1572        1810  0.383750       238
ZSCAN25    TGTAAATA      1620        2387  0.473125       767
ZSCAN30    TGTATATA      1174        2392 -0.312250      1218
ZSCAN4_0   TGTATAAA        19         247 -0.209250       228
ZSCAN4_1   TGTATATT        41         247 -0.239000       206
ZSWIM1     TGTATATT       273        1216  0.265000       943
ZSWIM2     TGTATATA        88         504  0.219375       416
ZSWIM4     TGTATATT       998        1180  1.156625       182
ZSWIM5_0   TGTAAATA       371        2050  2.706125      1679
ZSWIM5_1   TGTACATA       900        2050 -0.100125      1150
ZSWIM5_2   TGTATAAA      1121        2050  0.233500       929
ZSWIM6_0   TGTATATA       645        1855  4.283750      1210
ZSWIM6_1   TGTATATA       916        1855  1.821500       939
ZWILCH_0   TGTAAATA       470        1160  0.332625       690
ZWILCH_1   TGTAAAAA      1021        1160 -0.272875       139
ZXDA       TGTACATT      1636        2591  0.172625       955
ZXDB       TGTACATT      2399        3017 -0.201500       618
ZYG11B_0   TGTAAATT       396        5712  0.546250      5316
ZYG11B_1   TGTATAAA       416        5712  1.155500      5296
ZYG11B_2   TGTATATT       444        5712  0.440250      5268
ZYG11B_3   TGTATATT      5521        5712  1.268125       191
ZZEF1_0    TGTAAATA      1932        2444  0.304625       512
ZZEF1_1    TGTACAAA      2224        2444  1.308250       220
ZZEF1_2    TGTAAAAA      2368        2444  1.944125        76
ZZEF1_3    TGTACAAA      2421        2444  2.818875        23
ZZZ3       TGTACAAA       714        1134  3.505125       420

[13337 rows x 5 columns]

In [154]:
df_sep_high = df_sep[df_sep['phyloP'] >1]
df_sep_low = df_sep[df_sep['phyloP'] <1]

In [132]:
plt.hist(df_sep_high['distance'], bins = 3000, color = 'r', alpha = 0.5, label = 'Conserved PUM motif')
plt.hist(df_sep_low['distance'], bins = 1000, color = 'gray', alpha = 0.5, label = 'unconserved PUM motif')
plt.xlabel('Distance from 3end (bp)')
plt.ylabel('Number of PUM motif')
plt.legend()
plt.xlim(0, 1000)
plt.show()

In [163]:
dfTGTAAAAA = df_sep[df_sep['PUM motif'] == 'TGTAAAAA']
dfTGTAAAAT = df_sep[df_sep['PUM motif'] == 'TGTAAAAT']
dfTGTAAATA = df_sep[df_sep['PUM motif'] == 'TGTAAATA']
dfTGTAAATT = df_sep[df_sep['PUM motif'] == 'TGTAAATT']

dfTGTATAAA = df_sep[df_sep['PUM motif'] == 'TGTATAAA']
dfTGTATAAT = df_sep[df_sep['PUM motif'] == 'TGTATAAT']
dfTGTATATA = df_sep[df_sep['PUM motif'] == 'TGTATATA']
dfTGTATATT = df_sep[df_sep['PUM motif'] == 'TGTATATT']

dfTGTACAAA = df_sep[df_sep['PUM motif'] == 'TGTACAAA']
dfTGTACAAT = df_sep[df_sep['PUM motif'] == 'TGTACAAT']
dfTGTACATA = df_sep[df_sep['PUM motif'] == 'TGTACATA']
dfTGTACATT = df_sep[df_sep['PUM motif'] == 'TGTACATT']

In [166]:
df_TGTAAAAA = dfTGTAAAAA['phyloP'] 
df_TGTAAAAT = dfTGTAAAAT['phyloP']
df_TGTAAATA = dfTGTAAATA['phyloP']
df_TGTAAATT = dfTGTAAATT['phyloP']

df_TGTATAAA = dfTGTATAAA['phyloP']
df_TGTATAAT = dfTGTATAAT['phyloP']
df_TGTATATA = dfTGTATATA['phyloP']
df_TGTATATT = dfTGTATATT['phyloP']

df_TGTACAAA = dfTGTACAAA['phyloP']
df_TGTACAAT = dfTGTACAAT['phyloP']
df_TGTACATA = dfTGTACATA['phyloP']
df_TGTACATT = dfTGTACATT['phyloP']

TGTAAAAA = df_TGTAAAAA.as_matrix()
TGTAAAAT = df_TGTAAAAT.as_matrix()
TGTAAATA = df_TGTAAATA.as_matrix()
TGTAAATT = df_TGTAAATT.as_matrix()

TGTATAAA = df_TGTATAAA.as_matrix()
TGTATAAT = df_TGTATAAT.as_matrix()
TGTATATA = df_TGTATATA.as_matrix()
TGTATATT = df_TGTATATT.as_matrix()

TGTACAAA = df_TGTACAAA.as_matrix()
TGTACAAT = df_TGTACAAT.as_matrix()
TGTACATA = df_TGTACATA.as_matrix()
TGTACATT = df_TGTACATT.as_matrix()

In [169]:
data_to_plot = [TGTATATA, TGTAAATA, TGTACATA, TGTATAAA, TGTAAAAA, TGTACAAA, TGTATATT, TGTAAATT, TGTACATT]

fig = plt.figure()
ax = fig.add_subplot(111)

ax.boxplot(data_to_plot, notch = True)

# customize the whiskers, caps, fliers and medians
plt.ylabel('Conservation_score (phyloP)')   
plt.xticks([1,2,3,4,5,6,7,8,9], ['TGTATATA', 'TGTAAATA', 'TGTACATA', 'TGTATAAA', 'TGTAAAAA', 'TGTACAAA', 'TGTATATT', 'TGTAAATT', 'TGTACATT'])

plt.show()

In [168]:
for i in data_to_plot:
    print np.count_nonzero(i)

1921
2249
1212
1327
1632
857
1699
1356
1051