In [155]:
import xlrd
import numpy as np
import pandas
from pandas import DataFrame
import matplotlib.pyplot as plt

In [2]:
# import data from excel 
if __name__ == '__main__' :
    book = xlrd.open_workbook ('C:/research/python/data/RNA_Bric_seq.xlsx')
    sheet = book.sheet_by_name('HeLa')
    data = []
    data = [[sheet.cell_value(r, col)
                for col in range(sheet.ncols)]
                for r in range(sheet.nrows)]

# numbers are registered as numbers, while leaving the strings alone
for i in range (len (data)):
    for j in range(len(data[0])):
        try:
            data[i][j] = float (data[i][j])
        except:
            pass
        
# Wrap the data in a pandas DataFrame
df = DataFrame(data[1:], columns = data[0])

In [3]:
# Wrap the data in a pandas DataFrame
df = DataFrame(data[1:], columns = data[0])

# extract the significant increased genes by siPUM1
df_q = df[df['q_value'] < 0.05]
df_q = df[df['q_value'] < 0.05]
df_qup = df_q[df_q['log2_change_rpkm'] > 0]
df_p = df_qup[df_qup['P_Welch'] < 0.05]
df_pup = df_p[df_p['log2_change_half_life'] > 0]
df_up = df_pup[df_pup['rpkm_siCTRL'] > 1.0]

# Define the data set of which genes contain PUM motifs
df_up_motif = df_up[df_up['number'] > 0]

# Define the basic transcripts set : RPKM is larger than 0.1 & t_half > 0
df_rpkm = df[df['rpkm_siCTRL'] > 0.1]
df_base = df_rpkm[df_rpkm['half_life_siCTRL'] > 0]

In [32]:
df.head(20)

,gr_id,symbol,accession_id,locus,number,sequence,position,3UTR_length,miRNA-binding sites #,start_site,...,T0_siPUM1,T1_siPUM1,T2_siPUM1,T4_siPUM1,T8_siPUM1,T12_siPUM1,Model_siPUM1,half_life_siPUM1,log2_change_half_life,P_Welch
0,1,A1BG,NM_130786,chr19:58858171-58874214,0,NaN,NaN,216,1,142,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
1,2,A1CF,"NM_001198820,NM_014576,NM_138933,NM_001198819,...",chr10:52559168-52645435,6,TGTAAATG|TGTACATT|TGTAAATA|TGTATATA|TGTATATG|T...,1348|1760|4226|4334|4776|6695,7320,14,7071|7070|7051|7049|6988|6440|6147|3291|3278|2...,...,1,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2,3,A2M,NM_000014,chr12:9217772-9268558,0,NaN,NaN,115,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
3,4,A2ML1,"NM_144670,NM_001282424",chr12:8975149-9029381,0,NaN,NaN,729,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
4,5,A3GALT2,NM_001080438,chr1:33772366-33786699,0,NaN,NaN,0,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
5,6,A4GALT,NM_017436,chr22:43088126-43116876,0,NaN,NaN,768,0,NaN,...,1,0.953863,0.770139,0.282486,0.100059,0.071757,Delete_12hr,3.352392,0.371651,0.5729133
6,7,A4GNT,NM_016161,chr3:137842559-137851229,0,NaN,NaN,546,3,396|17|14,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
7,8,AAAS,"NM_015665,NM_001173466",chr12:53701239-53715412,0,NaN,NaN,33,0,NaN,...,1,1.017905,0.996999,0.975340,0.854844,0.339262,Delete_12hr,24.000000,0.644851,0.002160858
8,9,AACS,NM_023928,chr12:125549924-125627871,1,TGTATACA,1066,1096,1,1057,...,1,0.742701,0.763861,0.694632,0.541758,0.301943,Raw,10.068060,0.213577,0.5763862
9,10,AADAC,NM_001086,chr3:151347319-151645963,0,NaN,NaN,316,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
10,11,AADACL2,NM_207365,chr3:151347319-151645963,0,NaN,NaN,174,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
11,12,AADACL3,"NM_001103170,NR_111984",chr1:12776117-12788726,1,TGTACATA,2444,2763,1,2142,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
12,13,AADACL4,NM_001013630,chr1:12704565-12727097,0,NaN,NaN,351,0,NaN,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
13,14,AADAT,"NM_001286682,NM_182662,NM_001286683,NM_016228",chr4:170981372-171011538,1,TGTAAAAA,407,705,0,NaN,...,1,0.717529,0.687718,0.644127,0.319033,0.215227,Raw,7.139879,-0.081162,0.82574
14,15,AAED1,NM_153698,chr9:99403532-99417599,1,TGTATATA,438,507,1,109,...,1,0.842007,0.707272,0.541177,0.221587,0.107278,Raw,5.149913,0.409132,0.2055942
15,16,AAGAB,"NM_001271886,NM_024666,NM_001271885",chr15:67493012-67819641,0,NaN,NaN,1791,3,1774|890|285,...,1,0.936431,0.873997,0.751219,0.295199,0.099976,Delete_12hr_8hr,13.461100,0.769169,0.009921435
16,17,AAK1,NM_014911,chr2:69685126-69870977,16,TGTAAATT|TGTATAAA|TGTACAAA|TGTATAAA|TGTACATG|T...,972|981|1593|2054|4813|4873|4889|4906|4967|689...,17874,83,17799|17769|17676|17276|17220|17106|16658|1554...,...,1,0.710354,0.572345,0.230000,0.060792,0.046407,Delete_12hr,2.710183,0.058432,0.8484564
17,18,AAMDC,NM_024684,chr11:77532207-77583398,0,NaN,NaN,37,0,NaN,...,1,0.783760,0.524286,0.354167,0.500740,0.549562,Delete_12hr_8hr,3.501399,-2.008922,0.1206076
18,19,AAMP,NM_001087,chr2:219128851-219134893,1,TGTAAATA,381,404,2,398|259,...,1,0.820622,0.821844,0.811256,0.659342,0.272933,Raw,10.674950,0.240978,0.6967345
19,20,AANAT,"NM_001166579,NM_001088,NR_110548",chr17:74449432-74466199,0,NaN,NaN,147,0,NaN,...,1,0.000000,0.000000,0.000000,0.064802,0.072370,NaN,NaN,NaN,NaN

In [72]:
for x in range(10):
    diff = []
    
#    diff = list(df["position", x].values.flatten())
    print df.loc[x, "position"]

 nan
1348|1760|4226|4334|4776|6695
nan
nan
nan
nan
nan
nan
1066.0
nan

In [107]:
# convert dataframe to numpy array
pos = df.as_matrix(columns = df.columns[6:8])

[[nan 216.0]
 [u'1348|1760|4226|4334|4776|6695' 7320.0]
 [nan 115.0]
 ...,
 [nan 431.0]
 [u'1932|2192|2224|2368|2421' 2444.0]
 [u'714|1052' 1134.0]]

In [135]:
diff = np.array([])

for i in range(100):
    if type(pos[i, 0]) == float:
        diff_i = pos[i, 1] - pos[i, 0]
        diff= np.append(diff, diff_i)
    else:
        pass
    else:
        pass
diff2 = diff[np.logical_not(np.isnan(diff))]
print diff2

[   30.   319.   298.    69.    23.    36.   224.   834.   672.    45.
   155.   122.   189.   402.  1086.  1444.  1341.    26.   392.   129.
   392.   549.   512.  1708.    94.   159.]

In [154]:
diff = np.array([])

N = np.count_nonzero(pos[:, 1])

for i in range(N):
    if type(pos[i, 0]) != float:
        pos_1 = pos[i,0].split("|")
        pos_2 = [float(j) for j in pos_1]
        for j in range(len(pos_2)):
            diff_i = pos[i, 1] - pos_2[j]
            diff = np.append(diff, diff_i)
    else:
        pass
print N, diff

18501 [ 5972.  5560.  3094. ...,   939.   289.   144.]

In [162]:
# Ratio == calculate the distribution of PUM motif in 3'UTR 
# Diff == calculate distance between 3'end and the motif position

diff = np.array([])
ratio = np.array([])

N = np.count_nonzero(pos[:, 1])

for i in range(N):
    if type(pos[i, 0]) == float:
        diff_i = pos[i, 1] - pos[i, 0]
        diff= np.append(diff, diff_i)
        if pos[i, 1] != 0:
            ratio_i = pos[i, 0]/pos[i, 1]
            ratio = np.append(ratio, ratio_i)
        else:
            pass
    elif type(pos[i, 0]) != float:
        pos1 = pos[i, 0].split("|")
        pos2 = [float(j) for j in pos1]
        for j in range(len(pos2)):
            diff_i = pos[i, 1] - pos2[j]
            ratio_i = pos2[j]/pos[i, 1]
            diff = np.append(diff, diff_i)
            ratio = np.append(ratio, ratio_i)
    else:
        pass
Diff = diff[np.logical_not(np.isnan(diff))]
Ratio = ratio[np.logical_not(np.isnan(ratio))]

In [177]:
plt.hist(Diff, bins = 9000, alpha = 0.8)
plt.xlabel("Distance from 3'end (bp)")
plt.ylabel("Number of PUM motif")
plt.show()

In [178]:
plt.hist(Ratio, bins = 250, alpha = 0.8)
plt.xlabel("Relative position of PUM motif")
plt.ylabel("Number of PUM motif")
plt.show()

In [167]:
# same procedure for PUM target

# convert dataframe to numpy array (PUM target)
pos_PUM = df_up.as_matrix(columns = df_up.columns[6:8])

# Ratio == calculate the distribution of PUM motif in 3'UTR 
# Diff == calculate distance between 3'end and the motif position

diff_PUM = np.array([])
ratio_PUM = np.array([])

N = np.count_nonzero(pos_PUM[:, 1])

for i in range(N):
    if type(pos_PUM[i, 0]) == float:
        diff_i = pos_PUM[i, 1] - pos_PUM[i, 0]
        diff_PUM= np.append(diff_PUM, diff_i)
        if pos_PUM[i, 1] != 0:
            ratio_i = pos_PUM[i, 0]/pos_PUM[i, 1]
            ratio_PUM = np.append(ratio_PUM, ratio_i)
        else:
            pass
    elif type(pos_PUM[i, 0]) != float:
        pos1 = pos_PUM[i, 0].split("|")
        pos2 = [float(j) for j in pos1]
        for j in range(len(pos2)):
            diff_i = pos_PUM[i, 1] - pos2[j]
            ratio_i = pos2[j]/pos_PUM[i, 1]
            diff_PUM = np.append(diff_PUM, diff_i)
            ratio_PUM = np.append(ratio_PUM, ratio_i)
    else:
        pass
Diff_PUM = diff_PUM[np.logical_not(np.isnan(diff_PUM))]
Ratio_PUM = ratio_PUM[np.logical_not(np.isnan(ratio_PUM))]

In [180]:
plt.hist(Ratio_PUM, bins = 100, alpha = 0.8)
plt.xlabel("Relative position of PUM motif")
plt.ylabel("Number of PUM motif")
plt.show()

In [179]:
plt.hist(Diff_PUM, bins = 450)
plt.xlabel("Distance from 3'end (bp)")
plt.ylabel("Number of PUM motif")
plt.show()

In [184]:
pum2 = (136.95*0.011 - 41.69*0.011)/(96.88*0.009 - 45.12*0.009)
pum1 = (145.69*0.011- 8.52*0.011)/(61.45*0.013 - 10.11*0.013)

print pum1
print pum2

2.2607503521
2.24939893526